*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: vazir;
    src: url(../font/vazir.ttf);
}
body{
    font-family: vazir;
    direction: rtl;

}
@media screen and (min-width:995px){
#continer{
    width: 100%;
    height: auto;
}
header{
    width: 100%;
    position: relative;
}
.sekhat{
    position: absolute;
    top: 30px;
    left: 3%;
    width: 2%;
    cursor: pointer;
    transition: all 5s ease;
   -webkit-transition: all 5s ease;
}
#tosekhat{
    position: fixed;
    background-color: rgb(72, 70, 70);
    width:11%;
    height: 120px;
    margin-right: 67%;
    margin-top: 20px;
    color: ivory;
    padding-left: 1%;
    overflow: hidden;
}
.search{
    position: absolute;
    top: 28px;
    left: 8%;
    width: 1.8%;
    cursor: pointer;
}
.EN{
    position: absolute;
    top: 30px;
    left: 12%;
    width: 1.5%;
    cursor: pointer;
}
.logo1{
    position: absolute;
    top: 20px;
    right: 3%;
    width: 20%;
}
.khat1{
    position: absolute;
    top: 50px;
    left: 3%;
    width: 93%;
}
.phead1{
    position: absolute;
    top: 75px;
    right: 5%;
    font-size: 90%;
    cursor: pointer;
    width: 10%;
    
}
.phead2{
    position: absolute;
    top: 75px;
    right: 14%;
    font-size: 90%;
    cursor: pointer;
    width: 10%;
}
.phead3{
    position: absolute;
    top: 75px;
    right:25%;
    font-size: 90%;
    cursor: pointer;
    width: 10%;
}
.phead4{
    position: absolute;
    top: 70px;
    right:36%;
    color: rgb(11, 70, 99);
    font-size: 110%;
    cursor: pointer;
    width: 20%;

}
.phead5{
    position: absolute;
    top: 75px;
    right:53%;
    color: black;
    font-size: 90%;
    cursor: pointer;
    width: 10%;


}
.phead6{
    position: absolute;
    top: 75px;
    right:64%;
    color: black;
    font-size: 90%;
    cursor: pointer;
    width: 20%;


}
.khat2{
    position: absolute;
    top: 90px;
    left: 3%;
    width: 93%;
    
}

.sarkhabarha{
    position: relative;
    top: 110px;
    width: 100%;
    height: 450px;
    

}
.headingright{
    width: 35%;
    height: 100%;
    margin-right: 2%;
    border-left: 1px solid silver;
}
.magles2pic{
    width: 90%;
    margin-right: 5%;
}
.magles2head{
    font-size: 125%;
    margin-right: 5%;
}
.magles2matn{
    font-size: 90%;
    margin-right: 5%;
}
.headrighta{
    float: right;
    margin-right: 77%;
    color: rgb(87, 115, 134);
}
.headingcenter{
    width: 30%;
    height: 100%;
    margin-right: 35%;
    border-left: 1px solid silver;
    margin-top: -450px;
}
.magles1pic{
    width: 80%;
    margin-right: 15%;
}
.magles1head{
    font-size: 115%;
    margin-right: 21%;
}
.magles1matn{
    margin-right: 15%;
    font-size: 90%;
}
.headingleft{
    width: 30%;
    height: 100%;
    margin-left: 3%;
    overflow: hidden;
    float: left;
    margin-top: -450px;
}
.magles2matn{
    margin-right: 15%;
    font-size: 90%;
    
}
.headleft{
    float: right;
    overflow: hidden;
}
.leftbutton1{
    float: left;
    width: 10%;
    margin-left: 2%;
    cursor: pointer;
}
.leftbutton2{
    float: left;
    width: 10%;
    margin-left: 10%;
    cursor: pointer;
}
.headingleft ul li{
    list-style-type: disc;
    font-size: 90%;
    margin-left: 5%;
}
#content{
    width: 100%;
    height: 650px;
    background-color: rgb(26, 82, 108);
    margin-top: 20%;
    position: absolute;
}
.cont1{
    float: right;
    width: 20%;
    border-left: 0.5px solid silver;
    height: 80%;
    margin-top:10%;
    margin-right:2%;
}
.cont1 p{
    color: white;
    margin-top: -70px;
    font-size: 120%;
}
.contentline{
    color: white;
    margin-top: 2%;

}



 




  
 

   



.menoaftercontent{
    position: relative;
    top: 980px;
    width: 100%;
    height: 160px;
    margin-bottom: 50px;
    
    
}
.sec1{
    width: 22%;
    height: 100%;
    border-top: 2px solid black;
    margin-right: 3%;
    float: right;
    
}
.sec1 h5{
    font-style: bold;
}
.sec1 p{
    font-size: 70%;
    margin-top: 20px;
}
.sec1 a{
    font-size: 90%;
    float: right;
    margin-top: 25px;
    color: rgb(5, 66, 95);
}
.button3{
    width: 15%;
    margin-left: 3%;
    margin-top:20px;
    cursor: pointer;
    float: left;
}
.button4{
    width: 15%;
    margin-left: 3%;
    margin-top:20px;
    cursor: pointer;
    float: left;

}
.sec2{
    width: 22%;
    height: 100%;
    background-color: rgb(3, 94, 71);
    margin-right: 2%;
    float: right;
    
}
.sec2 h5{
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    word-spacing: 5px;
    line-height: 25px;
}
.sec2 p{
    margin-top: 40px;
    font-size: 80%;
    margin-right: 10px;
    color:rgb(183, 182,182);
}
.sec3{
    width: 22%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    float: left;
    margin-left:27%;
}
.sec3 h5{
    
    margin-top: 10px;
    margin-right: 10px;
    word-spacing: 5px;
    line-height: 25px;
}
.sec3 p{
    margin-top: 40px;
    font-size: 80%;
    margin-right: 10px;
    
}
.sec4{
    width: 22%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    float: left;
    margin-left: 3%;
    margin-top:-160px;
}
.sec4 h5{
    
    margin-top: 10px;
    margin-right: 10px;
    word-spacing: 5px;
    line-height: 25px;
}
.sec4 p{
    margin-top: 40px;
    font-size: 80%;
    margin-right: 10px;
    
}
.slider-btns{
height: 40px;
width: 100%;
margin-top:1060px;
}
.slider-btns a{
    color: rgb(64, 68, 114);
    font-size: 90%;
    float: left;
    margin-left: 2%;
    margin-top: 5px;
}
#slide-btn1{
    float: left;
    height: 30px;
    margin-left: 3%; 
    cursor: pointer;
}
#slide-btn2{
    float: left;
    height: 30px;
    margin-left: 1%;
    cursor: pointer;
}
#slide-btn3{
    float: left;
    height: 30px;
    margin-left: 3%; 
    cursor: pointer;
}
#slide-btn4{
    float: left;
    height: 30px;
    margin-left: 1%;
    cursor: pointer;
}
.slider-btns h5{
    margin-right: 2%;
}
.kkhat23{
    color:silver;
    width: 96%;
    margin-right: 2%;
}
.menoghanoon{
    width: 100%;
    height: 200px;
}
.secs1{
    background-color: rgb(235, 235,235);
    float: right;
    width: 23%;
    height: 100%;
    margin-right: 1.5%;
}
.secs1 h6{
    /* text-align: justify; */
    margin: 20px 5% 0 5%;
}
.secs1 p{
    font-size: 70%;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
}
.secs2{
    background-color: rgb(235, 235,235);
    float: right;
    width: 23%;
    height: 100%;
    margin-right: 1.5%;
}
.secs2 h6{
    /* text-align: justify; */
    margin: 20px 5% 0 5%;
}
.secs2 p{
    font-size: 70%;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
}
.secs3{
    background-color: rgb(235, 235,235);
    float: left;
    width: 23%;
    height: 100%;
    margin-left: 1.5%;
}
.secs3 h6{
    /* text-align: justify; */
    margin: 20px 5% 0 5%;
}
.secs3 p{
    font-size: 70%;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
}
.secs4{
    background-color: rgb(235, 235,235);
    float: left;
    width: 23%;
    height: 100%;
    margin-left: 2%;
}
.secs4 h6{
    /* text-align: justify; */
    margin: 20px 5% 0 5%;
}
.secs4 p{
    font-size: 70%;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
}
.chandresaneh{
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 260px;
}
.resane{
    width: 100%;
    height:50px;

}
.resaneh5{
    color: white;
    padding:10px ;
    
}
.btn-3{
    width: 3%;
    margin-right:95%;
    margin-top: -64px;
}
.btn-4{
    width: 3%;
    margin-right: 91%;
    margin-top: -110px;
}
.btn-5{
    width: 3%;
    margin-right:95%;
    margin-top: -64px;
}
.btn-6{
    width: 3%;
    margin-right: 91%;
    margin-top: -110px;
}
.resane a{
    color: rgb(235, 235, 235);
    font-size: 100%;
    float: left;
    margin-left: 10%;
    margin-top: -10px;
    
}
.secsh1{
    width: 22.5%;
    height: 170px;
    float: right;
    margin-right: 2%;
    margin-top: 20px ;
    opacity: 0.5;
    
}
.secsh1 img{
    width: 100%;
    height: 100%;
    
}
.secsh1 p{
   font: 100%;
   margin-top: -50px;
   margin-right: 1%;
   color:white;
    
}
.secsh2{
    width: 22.5%;
    height: 170px;
    float: right;
    margin-right: 2%;
    margin-top: 20px ;
    opacity: 0.5;
    
}
.secsh2 img{
    width: 100%;
    height: 100%;
    
}
.secsh2 p{
    font: 100%;
    margin-top: -50px;
    margin-right: 1%;
    color:white;
     
 }
.secsh3{
    width: 22.5%;
    height: 170px;
    float: left;
    margin-left: 9.5%;
    margin-top: 20px ;
    opacity: 0.5;
    
}
.secsh3 img{
    width: 100%;
    height: 100%;
    
}
.secsh3 p{
    font: 100%;
    margin-top: -50px;
    margin-right: 1%;
    color:white;
     
 }
.secsh4{
    width: 22.5%;
    height: 170px;
    float: left;
    margin-left: 2%;
    margin-top: -170px;
    
    
}
.secsh4 img{
    width: 100%;
    height: 100%;
    
}
.secsh4 p{
    font: 100%;
    margin-top: -50px;
    margin-right: 1%;
    color:white;
     
 }
 .comision{
     width: 100%;
     height: 600px;
 }
 .comis1{
     width: 45%;
     height: 100%;
     background-color: rgb(244, 243, 243);
     float: right;
     margin-right: 5%;

 }
 .comis1 h5{
     text-align: center;
     padding: 20px;
 }
 .comis1 hr{
     width: 88%;
     margin-right: 5%;
 }
 .comis2{
    width: 45%;
    height: 100%;
    background-color: rgb(244, 243, 243);
    float: left;
    margin-left: 5%;
}
.comis2 h5{
    text-align: center;
    padding: 20px;
}
.comis2 hr{
    width: 89%;
    margin-right: 6%;
}
.mosalas1{
    width:2.5%;
    height: 3%;
  margin-right: 5%;
  margin-top: 40px;
}
.comisi1{
    font-size: 130%;
    margin-right: 12%;
    margin-top: -25px;

}
.comisio1{
    font-size: 110%;
    margin-right: 12%;
}
.comisio2{
    font-size: 110%;
    margin-right: 12%;
}
.mosalas2{
    width:2.5%;
    height: 3%;
  margin-right: 5%;
  margin-top: 60px;
}
.comisi2{
    font-size: 130%;
    margin-right: 12%;
    margin-top: -25px;
}
.comisio3{
    font-size: 110%;
    margin-right: 12%;
}
.comisio4{
    font-size: 110%;
    margin-right: 12%;
}
.khatofoghi9{
    position: absolute;
    top: 2380px;
    right: 50%;
    border: 0.5px solid rgb(224, 223, 223);
    height: 500px;
}
.mosalas3{
    width:2.5%;
    height: 3%;
  margin-right: 5%;
  margin-top: 40px;
}
.comisi3{
    font-size: 130%;
    margin-right: 12%;
    margin-top: -25px;
}
.mosalas4{
    width:2.5%;
    height: 3%;
  margin-right: 5%;
  margin-top: 60px;
}
.comisi4{
    font-size: 130%;
    margin-right: 12%;
    margin-top: -25px;
}
.entesharat{
    width: 100%;
    height: 50px;
    
}
.entesharat a{
    color: rgb(5, 66, 95);
    float: left;
    margin-left: 5%;
    font-size: 130%;

}
.entesharat p{
    font-size: 170%;
}
.hrafterentesharat{
    width: 92%;
    
}
.poolsec{
    width: 100%;
    height: 150px;
    
}
.pool1{
    width: 22%;
    height: 100%;
    background-color:rgb(230, 230, 230) ;
    float: right;
    margin-right: 3%;

}
.pool1 img{
    width: 50%;
    height: 90%;
    float: right;
    margin-top: 8px;
    margin-right: 2%;
}
.pool2{
    width: 22%;
    height: 100%;
    background-color:rgb(230, 230, 230) ;
    float: right;
    margin-right: 2%;
}
.pool2 img{
    width: 50%;
    height: 90%;
    float: right;
    margin-top: 8px;
    margin-right: 2%;
}
.pool3{
    width: 22%;
    height: 100%;
    background-color:rgb(230, 230, 230) ;
    float: left;
    margin-left: 27%;
}
.pool3 img{
    width: 50%;
    height: 90%;
    float: right;
    margin-top: 8px;
    margin-right: 2%;
}
.pool4{
    width: 22%;
    height: 100%;
    background-color:rgb(230, 230, 230) ;
    float: left;
    margin-left: 3%;
    margin-top: -150px;
}
.pool4 img{
    width: 50%;
    height: 90%;
    float: right;
    margin-top: 8px;
    margin-right: 2%;
}
.ppool{
    font-size: 80%;
    float: left;
    width: 40%;
    margin-left: 2%;
    margin-top: 8px;
}
.ppool2{
    font-size: 70%;
    float: left;
    width: 40%;
    margin-left: 2%;
    margin-top: 30px;
}
.faslnameh{
    height: 60px;
    width: 100%;
    
}
.faslnameh a{
    color: rgb(5, 66, 95);
    float: left;
    margin-left: 5%;
    font-size: 130%;
}
.faslnameh p{
    font-size: 160%;
}
.secrahbord{
    width: 100%;
    height: 150px;
    
}
.secrahbord1{
    width: 22%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    float: right;
    margin-right: 3%;
}
.secrahbord2{
    width: 22%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    float: right;
    margin-right: 2%;
}
.secrahbord3{
    width: 22%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    float: left;
    margin-left: 27%;
}
.secrahbord4{
    width: 22%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    float: left;
    margin-left: 3%;
    margin-top: -150px;
}
.rahbordpic{
    width: 50%;
    height: 90%;
    float: right;
    margin-top: 8px;
    margin-right: 2%;
}
.rahbordp{
    font-size: 70%;
    float: left;
    width: 40%;
    margin-left: 2%;
    margin-top: 20px;
}
footer{
    width: 100%;
    height: 640px;
    background-color: rgb(3, 94, 71);
}
.logo2pic{
    width: 100%;
    height:80px ;
}
.logo2{
    margin-top:-2.8%;
    float: right;
    margin-right:27% ;
    width: 40%;
}
.secfoot1{
    width: 22%;
    height: 400px;
    float: right;
    margin-right: 3%;
    margin-top: 100px;
    
}
.secfoot2{
    width: 22%;
    height: 400px;
    float: right;
    margin-right: 2%;
    margin-top: 100px;
    
}
.secfoot3{
    width: 22%;
    height: 400px;
    float: left;
    margin-left: 27%;
    margin-top: 100px;
    
}
.secfoot4{
    width: 22%;
    height: 400px;
    float: left;
    margin-left: 3%;
    margin-top: -400px;
    
}
.headingfooter{
    text-align: right;
    color: white;
}
.pfooter{
    color: white;
    text-align: right;
    font-size: 90%;
    line-height:1;
}
.secfoot5{
    width: 60%;
    height: 30px;
    
}
.circle1{
    width: 25%;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(245, 241, 241);
    float: right;
    margin: 1px;
}
.circle2{
    width: 25%;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(245, 241, 241);
    float: right;
    margin: 1px;
}
.circle3{
    width: 25%;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(245, 241, 241);
    float: right;
    margin: 1px;
}
.majaz{
    width: 60%;
    margin-top: 8%;
    margin-right: 18%;
}
.khatfoot2{
    width: 94%;
    background-color: silver;
    margin-top: 420px;
    margin-right: 3%;
}
.payani1{
    color: rgb(237, 237, 237);
    float: left;
    margin-left: 3%;
    margin-top: -5px;
}
.payani2{
    color: rgb(237, 237, 237);
    float: right;
    margin-right: 3%;
    margin-top: -5px;
}
.arrow{
    position: absolute;
    top: 3970px;
    left:4% ;
    width: 5%;
    height: 50px;
    background-color: rgb(245, 241, 241);
    border-radius: 50%;
    cursor: pointer;

}
.arrow2{
    width: 50%;
    margin-top: 20%;
    margin-right: 25%;
}
#filmpic{
    height: 60px;
    margin-top: -240px;
    margin-right:35%;

}
}
@media screen and (max-width:995px){
#continer{
    width: 100%;
    height: auto;
}
header{
    width: 100%;
    position: relative;
}
.sekhat{
    position: absolute;
    top: 30px;
    left: 3%;
    width: 4%;
    cursor: pointer;
    transition: all 5s ease;
   -webkit-transition: all 5s ease;
}
#tosekhat{
    position: fixed;
    background-color: rgb(72, 70, 70);
    width:11%;
    height: 120px;
    margin-right: 67%;
    margin-top: -300px;
    color: rgb(223, 223, 0);
    padding-left: 1%;
    overflow: hidden;
}
.search{
    position: absolute;
    top: 28px;
    left: 9%;
    width: 3%;
    cursor: pointer;
}
.EN{
    position: absolute;
    top: 30px;
    left: 14%;
    width: 3%;
    cursor: pointer;
}
.logo1{
    position: absolute;
    top: 20px;
    right: 3%;
    width: 30%;
}
.khat1{
    position: absolute;
    top: 50px;
    left: 3%;
    width: 93%;
}
.phead1{
    position: absolute;
    top: 75px;
    right: -1%;
    font-size: 90%;
    cursor: pointer;
    width: 8%;
    
}
.phead2{
    position: absolute;
    top: 75px;
    right: 10%;
    font-size: 90%;
    cursor: pointer;
    width: 13%;
}
.phead3{
    position: absolute;
    top: 75px;
    right:26%;
    font-size: 90%;
    cursor: pointer;
    width: 14%;
}
.phead4{
    position: absolute;
    top: 70px;
    right:41%;
    color: rgb(11, 70, 99);
    font-size: 110%;
    cursor: pointer;
    width: 20%;

}
.phead5{
    position: absolute;
    top: 75px;
    right:64%;
    color: black;
    font-size: 90%;
    cursor: pointer;
    width: 14%;


}
.phead6{
    position: absolute;
    top: 75px;
    right:79%;
    color: black;
    font-size: 90%;
    cursor: pointer;
    width: 20%;


}
.khat2{
    position: absolute;
    top: 90px;
    left: 3%;
    width: 93%;
    
}

.sarkhabarha{
    position: relative;
    top: 110px;
    width: 100%;
    height: 450px;
    

}
.headingright{
    width: 85%;
    height:auto;
    margin-right: 7.5%;

}
.magles2pic{
    width: 90%;
    margin-right: 5%;
}
.magles2head{
    font-size: 125%;
    margin-right: 5%;
}
.magles2matn{
    font-size: 100%;
    margin-right: 2%;
}
.headrighta{
    float: right;
    margin-right: 77%;
    color: rgb(87, 115, 134);
}
.headingcenter{
    width: 60%;
    height: auto;
    margin-right: -10%;
    margin-top: 80px;
}
.magles1pic{
    width: 80%;
    margin-right: 10%;
}
.magles1head{
    font-size: 115%;
    margin-right: 21%;
}
.magles1matn{
    margin-right: 15%;
    font-size: 90%;
}
.headingleft{
    width: 45%;
    height: 100%;
    margin-left: 3%;
    overflow: hidden;
    float: left;
    margin-top: -520px;
}
.magles2matn{
    margin-right: 15%;
    font-size: 90%;
    
}
.headleft{
    float: right;
    overflow: hidden;
}
.leftbutton1{
    float: left;
    width: 10%;
    margin-left: 2%;
    cursor: pointer;
}
.leftbutton2{
    float: left;
    width: 10%;
    margin-left: 10%;
    cursor: pointer;
}
.headingleft ul li{
    list-style-type: disc;
    font-size: 90%;
    margin-left: 5%;
}
#content{
    width: 100%;
    height: 650px;
    background-color: rgb(35, 89, 114);
    margin-top: 106%;
    position: absolute;
}
.jadidtarin{
    position: absolute;
    top: 20px;
    right:40% ;
    color: rgb(255, 255, 255);
    font-size: 110%;
}
.khat3{
    position: absolute;
    top: 60px;
    right: 5%;
    width: 20%;
    height: 1.5px;
    background-color: white;
    
}
.moavenat1{
    position: absolute;
    top: 80px;
    right: 5%;
    font-size: 80%;
    color: rgb(183, 182,182);
}
.magles4{
    position: absolute;
    top: 120px;
    right: 5%;
    width: 20%;
}
.miniitem1{
    position: absolute;
    top: 270px;
    right: 5%;
    font-size: 77%;
    color: white;
}
.miniitem2{
    position: absolute;
    top: 290px;
    right: 5%;
    font-size: 80%;
    color: white;
}
.khat4{
    position: absolute;
    top: 320px;
    right: 5%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem3{
    position: absolute;
    top: 350px;
    right: 5%;
    font-size: 70%;
    color: white;
}
.miniitem4{
    position: absolute;
    top: 370px;
    right: 5%;
    font-size: 77%;
    color: white;
}
.khat5{
    position: absolute;
    top: 400px;
    right: 5%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem5{
    position: absolute;
    top: 430px;
    right: 5%;
    font-size: 70%;
    color: white;
}
.miniitem6{
    position: absolute;
    top: 450px;
    right: 5%;
    font-size: 77%;
    color: white;
}
.khat6{
    position: absolute;
    top: 470px;
    right: 5%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem7{
    position: absolute;
    top: 500px;
    right: 5%;
    font-size: 70%;
    color: white;
}
.miniitem8{
    position: absolute;
    top: 520px;
    right: 5%;
    font-size: 77%;
    color: white;
}
.khat7{
    position: absolute;
    top: 540px;
    right: 5%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem9{
    position: absolute;
    top: 570px;
    right: 5%;
    font-size: 70%;
    color: white;
}
.miniitem10{
    position: absolute;
    top: 590px;
    right: 5%;
    font-size: 77%;
    color: white;
}
.khatofoghi3{
    position: absolute;
    top:60px ;
    right: 26%;
    height: 570px;
    border-left: 0.5px solid white;

}

.khat8{
    position: absolute;
    top: 60px;
    right: 27%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.item11{
    position: absolute;
    top: 80px;
    right: 27%;
    font-size: 80%;
    color: rgb(183, 182,182);
}
.magles3{
    position: absolute;
    top: 120px;
    right: 27%;
    width: 20%;
}
.miniitem11{
    position: absolute;
    top: 270px;
    right: 28%;
    font-size: 70%;
    color: white;
}
.miniitem12{
    position: absolute;
    top: 290px;
    right: 28%;
    font-size: 80%;
    color: white;
}
.khat9{
    position: absolute;
    top: 320px;
    right: 27%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem13{
    position: absolute;
    top: 350px;
    right: 28%;
    font-size: 70%;
    color: white;
}
.miniitem14{
    position: absolute;
    top: 370px;
    right: 28%;
    font-size: 80%;
    color: white;
}
.khat10{
    position: absolute;
    top: 400px;
    right: 27%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem15{
    position: absolute;
    top: 430px;
    right: 28%;
    font-size: 70%;
    color: white;
}
.miniitem16{
    position: absolute;
    top: 450px;
    right: 28%;
    font-size: 80%;
    color: white;
}
.khat11{
    position: absolute;
    top: 470px;
    right: 27%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem17{
    position: absolute;
    top: 500px;
    right: 28%;
    font-size: 70%;
    color: white;
}
.miniitem18{
    position: absolute;
    top: 520px;
    right: 28%;
    font-size: 80%;
    color: white;
}
.khat12{
    position: absolute;
    top: 540px;
    right: 27%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem19{
    position: absolute;
    top: 570px;
    right: 28%;
    font-size: 70%;
    color: white;
}
.miniitem20{
    position: absolute;
    top: 590px;
    right: 28%;
    font-size: 80%;
    color: white;
}
.khatofoghi4{
    position: absolute;
    top:60px ;
    right: 48%;
    height: 570px;
    border-left: 0.5px solid white;
}
.khat13{
    position: absolute;
    top: 60px;
    right: 49%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.magles42{
    position: absolute;
    top: 120px;
    right: 49%;
    width: 20%;
}
.item12{
    position: absolute;
    top: 80px;
    right: 49%;
    font-size: 80%;
    color: rgb(183, 182,182);
}
.miniitem21{
    position: absolute;
    top: 270px;
    right: 50%;
    font-size: 70%;
    color: white;
}
.miniitem22{
    position: absolute;
    top: 290px;
    right: 50%;
    font-size: 80%;
    color: white;
}
.khat14{
    position: absolute;
    top: 320px;
    right: 49%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem23{
    position: absolute;
    top: 350px;
    right: 50%;
    font-size: 70%;
    color: white;
}
.miniitem24{
    position: absolute;
    top: 370px;
    right: 50%;
    font-size: 80%;
    color: white;
}
.khat15{
    position: absolute;
    top: 400px;
    right: 49%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem25{
    position: absolute;
    top: 430px;
    right: 50%;
    font-size: 70%;
    color: white;
}
.miniitem26{
    position: absolute;
    top: 450px;
    right: 50%;
    font-size: 80%;
    color: white;
}
.khat16{
    position: absolute;
    top: 470px;
    right: 49%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem27{
    position: absolute;
    top: 500px;
    right: 50%;
    font-size: 70%;
    color: white;
}
.miniitem28{
    position: absolute;
    top: 520px;
    right: 50%;
    font-size: 80%;
    color: white;
}
.khat17{
    position: absolute;
    top: 540px;
    right: 49%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem29{
    position: absolute;
    top: 570px;
    right: 50%;
    font-size: 70%;
    color: white;
}
.miniitem30{
    position: absolute;
    top: 590px;
    right: 50%;
    font-size: 80%;
    color: white;
}
.khatofoghi5{
    position: absolute;
    top:60px ;
    left: 30%;
    height: 570px;
    border-left: 0.5px solid white;
}
.khat18{
    position: absolute;
    top: 60px;
    left: 7%;
    width: 22%;
    height: 1.5px;
    background-color: white;
}
.item18{
    position: absolute;
    top: 80px;
    left: 9%;
    font-size: 80%;
    color: rgb(183, 182,182);
}
.magles32{
    position: absolute;
    top: 120px;
    left: 8%;
    width: 20%;
}
.miniitem31{
    position: absolute;
    top: 270px;
    left: 9%;
    font-size: 70%;
    color: white;
}
.miniitem32{
    position: absolute;
    top: 290px;
    left: 10.5%;
    font-size: 80%;
    color: white;
}
.khat19{
    position: absolute;
    top: 320px;
    left:8%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem33{
    position: absolute;
    top: 350px;
    left: 9%;
    font-size: 70%;
    color: white;
}
.miniitem34{
    position: absolute;
    top: 370px;
    left: 10.5%;
    font-size: 80%;
    color: white;
}
.khat20{
    position: absolute;
    top: 400px;
    left:8%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem35{
    position: absolute;
    top: 430px;
    left: 9%;
    font-size: 70%;
    color: white;
}
.miniitem36{
    position: absolute;
    top: 450px;
    left: 10.5%;
    font-size: 80%;
    color: white;
}
.khat21{
    position: absolute;
    top: 470px;
    left:8%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem37{
    position: absolute;
    top: 500px;
    left: 9%;
    font-size: 70%;
    color: white;
}
.miniitem38{
    position: absolute;
    top: 520px;
    left: 10.5%;
    font-size: 80%;
    color: white;
}
.khat22{
    position: absolute;
    top: 540px;
    left:8%;
    width: 20%;
    height: 1.5px;
    background-color: white;
}
.miniitem39{
    position: absolute;
    top: 570px;
    left: 9%;
    font-size: 70%;
    color: white;
}
.miniitem40{
    position: absolute;
    top: 590px;
    left: 10.5%;
    font-size: 80%;
    color: white;
}
.menoaftercontent{
    position: relative;
    top: 980px;
    width: 100%;
    height: 160px;
    margin-bottom: 50px;
    
    
}
.sec1{
    width: 22%;
    height: 100%;
    border-top: 2px solid black;
    margin-right: 3%;
    float: right;
    
}
.sec1 h5{
    font-style: bold;
}
.sec1 p{
    font-size: 70%;
    margin-top: 20px;
}
.sec1 a{
    font-size: 90%;
    float: right;
    margin-top: 25px;
    color: rgb(5, 66, 95);
}
.button3{
    width: 15%;
    margin-left: 3%;
    margin-top:20px;
    cursor: pointer;
    float: left;
}
.button4{
    width: 15%;
    margin-left: 3%;
    margin-top:20px;
    cursor: pointer;
    float: left;

}
.sec2{
    width: 22%;
    height: 100%;
    background-color: rgb(3, 94, 71);
    margin-right: 2%;
    float: right;
    
}
.sec2 h5{
    color: white;
    margin-top: 10px;
    margin-right: 10px;
    word-spacing: 5px;
    line-height: 25px;
}
.sec2 p{
    margin-top: 40px;
    font-size: 80%;
    margin-right: 10px;
    color:rgb(183, 182,182);
}
.sec3{
    width: 22%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    float: left;
    margin-left:27%;
}
.sec3 h5{
    
    margin-top: 10px;
    margin-right: 10px;
    word-spacing: 5px;
    line-height: 25px;
}
.sec3 p{
    margin-top: 40px;
    font-size: 80%;
    margin-right: 10px;
    
}
.sec4{
    width: 22%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    float: left;
    margin-left: 3%;
    margin-top:-160px;
}
.sec4 h5{
    
    margin-top: 10px;
    margin-right: 10px;
    word-spacing: 5px;
    line-height: 25px;
}
.sec4 p{
    margin-top: 40px;
    font-size: 80%;
    margin-right: 10px;
    
}
.slider-btns{
height: 40px;
width: 100%;
margin-top:1060px;
}
.slider-btns a{
    color: rgb(64, 68, 114);
    font-size: 90%;
    float: left;
    margin-left: 2%;
    margin-top: 5px;
}
#slide-btn1{
    float: left;
    height: 30px;
    margin-left: 3%; 
    cursor: pointer;
}
#slide-btn2{
    float: left;
    height: 30px;
    margin-left: 1%;
    cursor: pointer;
}
#slide-btn3{
    float: left;
    height: 30px;
    margin-left: 3%; 
    cursor: pointer;
}
#slide-btn4{
    float: left;
    height: 30px;
    margin-left: 1%;
    cursor: pointer;
}
.slider-btns h5{
    margin-right: 2%;
}
.kkhat23{
    color:silver;
    width: 96%;
    margin-right: 2%;
}
.menoghanoon{
    width: 100%;
    height: 200px;
}
.secs1{
    background-color: rgb(235, 235,235);
    float: right;
    width: 23%;
    height: 100%;
    margin-right: 1.5%;
}
.secs1 h6{
    /* text-align: justify; */
    margin: 20px 5% 0 5%;
}
.secs1 p{
    font-size: 70%;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
}
.secs2{
    background-color: rgb(235, 235,235);
    float: right;
    width: 23%;
    height: 100%;
    margin-right: 1.5%;
}
.secs2 h6{
    /* text-align: justify; */
    margin: 20px 5% 0 5%;
}
.secs2 p{
    font-size: 70%;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
}
.secs3{
    background-color: rgb(235, 235,235);
    float: left;
    width: 23%;
    height: 100%;
    margin-left: 1.5%;
}
.secs3 h6{
    /* text-align: justify; */
    margin: 20px 5% 0 5%;
}
.secs3 p{
    font-size: 70%;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
}
.secs4{
    background-color: rgb(235, 235,235);
    float: left;
    width: 23%;
    height: 100%;
    margin-left: 2%;
}
.secs4 h6{
    /* text-align: justify; */
    margin: 20px 5% 0 5%;
}
.secs4 p{
    font-size: 70%;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
}
.chandresaneh{
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 260px;
}
.resane{
    width: 100%;
    height:50px;

}
.resaneh5{
    color: white;
    padding:10px ;
    
}
.btn-3{
    width: 3%;
    margin-right:95%;
    margin-top: -64px;
}
.btn-4{
    width: 3%;
    margin-right: 91%;
    margin-top: -110px;
}
.btn-5{
    width: 3%;
    margin-right:95%;
    margin-top: -64px;
}
.btn-6{
    width: 3%;
    margin-right: 91%;
    margin-top: -110px;
}
.resane a{
    color: rgb(235, 235, 235);
    font-size: 100%;
    float: left;
    margin-left: 10%;
    margin-top: -10px;
    
}
.secsh1{
    width: 22.5%;
    height: 170px;
    float: right;
    margin-right: 2%;
    margin-top: 20px ;
    opacity: 0.5;
    
}
.secsh1 img{
    width: 100%;
    height: 100%;
    
}
.secsh1 p{
   font: 100%;
   margin-top: -50px;
   margin-right: 1%;
   color:white;
    
}
.secsh2{
    width: 22.5%;
    height: 170px;
    float: right;
    margin-right: 2%;
    margin-top: 20px ;
    opacity: 0.5;
    
}
.secsh2 img{
    width: 100%;
    height: 100%;
    
}
.secsh2 p{
    font: 100%;
    margin-top: -50px;
    margin-right: 1%;
    color:white;
     
 }
.secsh3{
    width: 22.5%;
    height: 170px;
    float: left;
    margin-left: 9.5%;
    margin-top: 20px ;
    opacity: 0.5;
    
}
.secsh3 img{
    width: 100%;
    height: 100%;
    
}
.secsh3 p{
    font: 100%;
    margin-top: -50px;
    margin-right: 1%;
    color:white;
     
 }
.secsh4{
    width: 22.5%;
    height: 170px;
    float: left;
    margin-left: 2%;
    margin-top: -170px;
    
    
}
.secsh4 img{
    width: 100%;
    height: 100%;
    
}
.secsh4 p{
    font: 100%;
    margin-top: -50px;
    margin-right: 1%;
    color:white;
     
 }
 .comision{
     width: 100%;
     height: 600px;
 }
 .comis1{
     width: 45%;
     height: 100%;
     background-color: rgb(244, 243, 243);
     float: right;
     margin-right: 5%;

 }
 .comis1 h5{
     text-align: center;
     padding: 20px;
 }
 .comis1 hr{
     width: 88%;
     margin-right: 5%;
 }
 .comis2{
    width: 45%;
    height: 100%;
    background-color: rgb(244, 243, 243);
    float: left;
    margin-left: 5%;
}
.comis2 h5{
    text-align: center;
    padding: 20px;
}
.comis2 hr{
    width: 89%;
    margin-right: 6%;
}
.mosalas1{
    width:2.5%;
    height: 3%;
  margin-right: 5%;
  margin-top: 40px;
}
.comisi1{
    font-size: 130%;
    margin-right: 12%;
    margin-top: -25px;

}
.comisio1{
    font-size: 110%;
    margin-right: 12%;
}
.comisio2{
    font-size: 110%;
    margin-right: 12%;
}
.mosalas2{
    width:2.5%;
    height: 3%;
  margin-right: 5%;
  margin-top: 60px;
}
.comisi2{
    font-size: 130%;
    margin-right: 12%;
    margin-top: -25px;
}
.comisio3{
    font-size: 110%;
    margin-right: 12%;
}
.comisio4{
    font-size: 110%;
    margin-right: 12%;
}
.khatofoghi9{
    position: absolute;
    top: 2380px;
    right: 50%;
    border: 0.5px solid rgb(224, 223, 223);
    height: 500px;
}
.mosalas3{
    width:2.5%;
    height: 3%;
  margin-right: 5%;
  margin-top: 40px;
}
.comisi3{
    font-size: 130%;
    margin-right: 12%;
    margin-top: -25px;
}
.mosalas4{
    width:2.5%;
    height: 3%;
  margin-right: 5%;
  margin-top: 60px;
}
.comisi4{
    font-size: 130%;
    margin-right: 12%;
    margin-top: -25px;
}
.entesharat{
    width: 100%;
    height: 50px;
    
}
.entesharat a{
    color: rgb(5, 66, 95);
    float: left;
    margin-left: 5%;
    font-size: 130%;

}
.entesharat p{
    font-size: 170%;
}
.hrafterentesharat{
    width: 92%;
    
}
.poolsec{
    width: 100%;
    height: 150px;
    
}
.pool1{
    width: 22%;
    height: 100%;
    background-color:rgb(230, 230, 230) ;
    float: right;
    margin-right: 3%;

}
.pool1 img{
    width: 50%;
    height: 90%;
    float: right;
    margin-top: 8px;
    margin-right: 2%;
}
.pool2{
    width: 22%;
    height: 100%;
    background-color:rgb(230, 230, 230) ;
    float: right;
    margin-right: 2%;
}
.pool2 img{
    width: 50%;
    height: 90%;
    float: right;
    margin-top: 8px;
    margin-right: 2%;
}
.pool3{
    width: 22%;
    height: 100%;
    background-color:rgb(230, 230, 230) ;
    float: left;
    margin-left: 27%;
}
.pool3 img{
    width: 50%;
    height: 90%;
    float: right;
    margin-top: 8px;
    margin-right: 2%;
}
.pool4{
    width: 22%;
    height: 100%;
    background-color:rgb(230, 230, 230) ;
    float: left;
    margin-left: 3%;
    margin-top: -150px;
}
.pool4 img{
    width: 50%;
    height: 90%;
    float: right;
    margin-top: 8px;
    margin-right: 2%;
}
.ppool{
    font-size: 80%;
    float: left;
    width: 40%;
    margin-left: 2%;
    margin-top: 8px;
}
.ppool2{
    font-size: 70%;
    float: left;
    width: 40%;
    margin-left: 2%;
    margin-top: 30px;
}
.faslnameh{
    height: 60px;
    width: 100%;
    
}
.faslnameh a{
    color: rgb(5, 66, 95);
    float: left;
    margin-left: 5%;
    font-size: 130%;
}
.faslnameh p{
    font-size: 160%;
}
.secrahbord{
    width: 100%;
    height: 150px;
    
}
.secrahbord1{
    width: 22%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    float: right;
    margin-right: 3%;
}
.secrahbord2{
    width: 22%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    float: right;
    margin-right: 2%;
}
.secrahbord3{
    width: 22%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    float: left;
    margin-left: 27%;
}
.secrahbord4{
    width: 22%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    float: left;
    margin-left: 3%;
    margin-top: -150px;
}
.rahbordpic{
    width: 50%;
    height: 90%;
    float: right;
    margin-top: 8px;
    margin-right: 2%;
}
.rahbordp{
    font-size: 70%;
    float: left;
    width: 40%;
    margin-left: 2%;
    margin-top: 20px;
}
footer{
    width: 100%;
    height: 640px;
    background-color: rgb(3, 94, 71);
}
.logo2pic{
    width: 100%;
    height:80px ;
}
.logo2{
    margin-top:-2.8%;
    float: right;
    margin-right:27% ;
    width: 40%;
}
.secfoot1{
    width: 22%;
    height: 400px;
    float: right;
    margin-right: 3%;
    margin-top: 100px;
    
}
.secfoot2{
    width: 22%;
    height: 400px;
    float: right;
    margin-right: 2%;
    margin-top: 100px;
    
}
.secfoot3{
    width: 22%;
    height: 400px;
    float: left;
    margin-left: 27%;
    margin-top: 100px;
    
}
.secfoot4{
    width: 22%;
    height: 400px;
    float: left;
    margin-left: 3%;
    margin-top: -400px;
    
}
.headingfooter{
    text-align: right;
    color: white;
}
.pfooter{
    color: white;
    text-align: right;
    font-size: 90%;
    line-height:1;
}
.secfoot5{
    width: 60%;
    height: 30px;
    
}
.circle1{
    width: 25%;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(245, 241, 241);
    float: right;
    margin: 1px;
}
.circle2{
    width: 25%;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(245, 241, 241);
    float: right;
    margin: 1px;
}
.circle3{
    width: 25%;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(245, 241, 241);
    float: right;
    margin: 1px;
}
.majaz{
    width: 60%;
    margin-top: 8%;
    margin-right: 18%;
}
.khatfoot2{
    width: 94%;
    background-color: silver;
    margin-top: 420px;
    margin-right: 3%;
}
.payani1{
    color: rgb(237, 237, 237);
    float: left;
    margin-left: 3%;
    margin-top: -5px;
}
.payani2{
    color: rgb(237, 237, 237);
    float: right;
    margin-right: 3%;
    margin-top: -5px;
}
.arrow{
    position: absolute;
    top: 3970px;
    left:4% ;
    width: 5%;
    height: 50px;
    background-color: rgb(245, 241, 241);
    border-radius: 50%;
    cursor: pointer;

}
.arrow2{
    width: 50%;
    margin-top: 20%;
    margin-right: 25%;
}
#filmpic{
    height: 60px;
    margin-top: -240px;
    margin-right:35%;

}
}